# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
bgp-extrapolator
bin/

# Unit Test files
graph.csv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Swap Files
*.swp
*.swo

# IDE Setting Files
.vscode/
.vs/

#Log folder
Logs/